CONNECTION_STRING=YourDatabaseConnectionString
JWT_SECRET_KEY=YourSuperSecretKey
JWT_ISSUER=YourAppIssuer
JWT_AUDIENCE=justyourapp
JWT_EXPIRATION_MINUTES=60
ALLOWED_ORIGINS=YourAllowedOrigins
ASPNETCORE_ENVIRONMENT=EnvironmentName